
.body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vh;
}

.slideshow{
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50% -50%);
}

.navegação{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform:translate(-50%);
  display: flex;
}

.barra{
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  margin: 6px;

}